http_interactions:
- request:
    method: get
    uri: https://www.hydroshare.org/discoverapi/
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
      allow: GET, HEAD, OPTIONS
      content-language: en
    body:
      encoding: UTF-8
      file: no
      string: '{"resources": "[{\"title\": \"Wasatch Environmental Observatory Red
        Butte Network: 1300 East Aquatic (RB_1300E_A) Quality Controlled Data\", \"link\":
        \"/resource/5057577e8573433d8045b59db91b2550/\", \"availability\": [\"public\"],
        \"availabilityurl\": \"/static/img/public.png\", \"type\": \"Composite Resource\",
        \"author\": \"University of Utah  -- Wasatch Environmental Observatory\",
        \"authors\": \"University of Utah  -- Wasatch Environmental Observatory\",
        \"contributor\": [\"Jamison, Logan\", \"Brooks, Paul\", \"Eiriksson, Dave\"],
        \"author_link\": null, \"owner\": [\"Jamison, Logan\", \"Eiriksson, Dave\",
        \"iUTAH Data Manager\"], \"abstract\": \"This dataset contains quality controlled
        data for select variables measured at the aquatic monitoring site in Red Butte
        Canyon at 1300E (RB_1300E_A). Each file contains all of the data for a single
        quality controlled variable.  These files are updated as quality control is
        performed. The data values were collected by a variety of sensors at 15 minute
        intervals. The file header contains detailed metadata for the site and the
        variable and method associated with each column. This site is currently operated
        as part of the Wasatch Environmental Observatory. Prior to 2018 this site
        was operated as part of the iUTAH GAMUT Network.\", \"subject\": [\"1300E\",
        \"QC1\", \"GAMUT\", \"Aquatic Station\", \"WEO\", \"Red Butte Canyon\", \"Quality
        Controlled\", \"QC\", \"University of Utah\", \"Red Butte\", \"Water Quality\",
        \"1300E Aquatic\", \"1300E_AA\", \"iUTAH\"], \"created\": \"2017-01-12T22:52:28\",
        \"modified\": \"2021-03-31T12:50:34\", \"short_id\": \"5057577e8573433d8045b59db91b2550\",
        \"geo\": {\"short_id\": \"5057577e8573433d8045b59db91b2550\", \"title\": \"Wasatch
        Environmental Observatory Red Butte Network: 1300 East Aquatic (RB_1300E_A)
        Quality Controlled Data\", \"coverage_type\": \"point\", \"north\": 40.744995,
        \"east\": -111.85444}}, {\"title\": \"Wasatch Environmental Observatory Red
        Butte Network: Raw Data at Fort Douglas Storm Drain (RB_FortD_SD)\", \"link\":
        \"/resource/252980b3bff94a1fa2a2ce1de24323d2/\", \"availability\": [\"public\"],
        \"availabilityurl\": \"/static/img/public.png\", \"type\": \"Composite Resource\",
        \"author\": \"University of Utah  -- Wasatch Environmental Observatory\",
        \"authors\": \"University of Utah  -- Wasatch Environmental Observatory\",
 [...]
