http_interactions:
- request:
    method: get
    uri: https://www.hydroshare.org/hsapi/resource/1361509511e44adfba814f6950c6e742/folders/code/
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
      allow: GET, PUT, DELETE
      content-language: en
    body:
      encoding: UTF-8
      file: no
      string: '{"resource_id":"1361509511e44adfba814f6950c6e742","path":"code","files":["1_download_soilgrids_sandSiltClay.py","2_convert_sandSiltClay_to_soilclass.py","3_extract_soilclass_mode.py"],"folders":[]}'
  recorded_at: 2021-03-31 17:34:08 GMT
  recorded_with: vcr/0.6.0, webmockr/0.8.0
[...]
