http_interactions:
- request:
    method: get
    uri: https://www.hydroshare.org/hsapi/resource/6092c8a62fac45be97a09bfd0b0bf726/files/
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
      allow: GET, POST
      content-language: en
    body:
      encoding: UTF-8
      file: no
      string: '{"count":3,"next":null,"previous":null,"results":[{"file_name":"README.md","url":"http://www.hydroshare.org/resource/6092c8a62fac45be97a09bfd0b0bf726/data/contents/README.md","size":3937,"content_type":"None","logical_file_type":"NoneType","modified_time":"2021-02-26T19:28:22","checksum":"2e0fbfccf242e23152fabaa00d91f8b8"},{"file_name":"nhdplusVAA.fst","url":"http://www.hydroshare.org/resource/6092c8a62fac45be97a09bfd0b0bf726/data/contents/nhdplusVAA.fst","size":214381247,"content_type":"None","logical_file_type":"NoneType","modified_time":"2021-02-26T18:52:08","checksum":"5c20d7059233c1678205c8b6c96aeb19"},{"file_name":"nhdplusVAA.parquet","url":"http://www.hydroshare.org/resource/6092c8a62fac45be97a09bfd0b0bf726/data/contents/nhdplusVAA.parquet","size":257747436,"content_type":"None","logical_file_type":"NoneType","modified_time":"2021-02-26T18:52:13","checksum":"5691af50ffc1c1d66960a9dae690dc6e"}]}'
  recorded_at: 2021-03-31 15:22:03 GMT
  recorded_with: vcr/0.6.0, webmockr/0.8.0
[...]
