http_interactions:
- request:
    method: get
    uri: https://www.hydroshare.org/hsapi/resource/search?page=3
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
      allow: GET, HEAD, OPTIONS
      content-language: en
    body:
      encoding: UTF-8
      file: no
      string: '{"count":4877,"next":"https://www.hydroshare.org/hsapi/resource/search?page=4","previous":"https://www.hydroshare.org/hsapi/resource/search?page=2","results":[{"text":"
        \nd841f99381424ebc850842a1dbb5630b  CRBCZO -- Chlorophyll -- Pheophytin --
        White Clay Creek -- (2001-2012) \n CompositeResource Stream Chlorophyll and
        Pheophytin data collected by Stroud Water Research Center \nNewbold, J. D.    Damiano,
        S. G.    \n\nczo_national CZO National, CZO czo_christina CZO Christina, CZO
        \nwhite clay creek @ swrc christina chlorophyll chlorophyll a, corrected for
        pheophytin  \nczos Christina czo_id 2400 citation Newbold,[...]
[...]
