http_interactions:
- request:
    method: get
    uri: https://www.hydroshare.org/hsapi/
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      allow: GET, HEAD, OPTIONS
      content-language: en
    body:
      encoding: UTF-8
      file: no
      string: '{"swagger": "2.0", "info": {"title": "Hydroshare API", "description":
        "Hydroshare Rest API", "termsOfService": "https://help.hydroshare.org/about-hydroshare/policies/terms-of-use/",
        "contact": {"email": "help@cuahsi.org"}, "version": "v1"}, "host": "www.hydroshare.org",
        "schemes": ["https"], "basePath": "/", "consumes": ["application/json"], "produces":
        ["application/json"], "securityDefinitions": {"Basic": {"type": "basic"}},
        "security": [{"Basic": []}], "paths": {"/discoverapi/": {"get": {"operationId":
        "discoverapi_list", "description": "Primary endpoint for retrieving resources
        via the index\nValues should never be empty string or python None, instead
        return string \"None\" with str() call\n\"availability\": list value, js will
        parse JSON as Array\n\"availabilityurl\": single value, pass a string to REST
        client\n\"type\": single value, pass a string to REST client\n\"author\":
        single value, pass a string to REST client first author\n\"creator: authors,\n        The
        reason for the weird name is the DataOne standard. The metadata was designed
        to be compliant\n        with DataOne standards. These standards do not contain
        an author field. Instead, the creator field\n        represents authors.\n\"contributor\":
        list value, js will parse JSON as Array\n\"owner\": list value, js will parse
        JSON as Array\n\"subject\": list value, js will parse JSON as Array\n\"coverage_type\":
        list point, period, ...", "parameters": [], "responses": {"200": {"description":
        ""}}, "tags": ["discoverapi"]}, "parameters": []}, "/hsapi/resource/": {"get":
        {"operationId": "hsapi_resource_list", "description": "List resources", "parameters":
        [{"name": "page", "in": "query", "description": "A page number within the
        paginated result set.", "required": false, "type": "integer"}, {"name": "count",
        "in": "query", "description": "Number of results to return per page.", "required":
        false, "type": "integer"}, {"name": "creator", "in": "query", "description":
        "The first author (name or email)", "required": false, "type": "string", "minLength":
        1}, {"name": "author", "in": "query", "description": "Comma separated list
        of authors (name or email)", "required": false, "type": "string", "minLength":
        1}, {"name": "group", "in": "query", "description": "A group name (requires
        edit_permissions=True)", "required": false, "type": "string", "minLength":
        1}, {"name": "user", "in": "query", "description": "Viewable by user (name
        or email)", "required": false, "type": "string", "minLength": 1}, {"name":
        "owner", "in": "query", "description": "Owned by user (name or email)", "required":
        false, "type": "string", "minLength": 1}, {"name": "from_date", "in": "query",
        "description": "to get a list of resources created on or after this date",
        "required": false, "type": "string", "format": "date"}, {"name": "to_date",
        "in": "query", "description": "to get a list of resources created on or before
        this date", "required": false, "type": "string", "format": "date"}, {"name":
        "subject", "in": "query", "description": "Comma separated list of subjects",
        "required": false, "type": "string", "minLength": 1}, {"name": "full_text_search",
        "in": "query", "description": "get a list of resources with this text", "required":
        false, "type": "string", "minLength": 1}, {"name": "edit_permission", "in":
        "query", "description": "filter by edit permissions of user/group/owner",
        "required": false, "type": "boolean", "default": false}, {"name": "published",
        "in": "query", "description": "filter by published resources", "required":
        false, "type": "boolean", "default": false}, {"name": "type", "in": "query",
        "description": "to get a list of resources of the specified resource types",
        "required": false, "type": "array", "items": {"type": "string", "enum": ["GenericResource",
        "RasterResource", "RefTimeSeriesResource", "TimeSeriesResource", "NetcdfResource",
        "ModelProgramResource", "ModelInstanceResource", "ToolResource", "SWATModelInstanceResource",
        "GeographicFeatureResource", "ScriptResource", "CollectionResource", "MODFLOWModelInstanceResource",
        "CompositeResource"]}, "collectionFormat": "multi"}, {"name": "coverage_type",
        "in": "query", "description": "to get a list of resources that fall within
        the specified spatial coverage boundary", "required": false, "type": "string",
        "enum": ["box", "point"]}, {"name": "north", "in": "query", "description":
        "north coordinate of spatial coverage. This parameter is required if *coverage_type*
        has been specified", "required": false, "type": "string", "minLength": 1},
        {"name": "south", "in": "query", "description": "south coordinate of spatial
        coverage. This parameter is required if *coverage_type* has been specified
        with a value of box", "required": false, "type": "string", "minLength": 1},
        {"name": "east", "in": "query", "description": "east coordinate of spatial
        coverage. This parameter is required if *coverage_type* has been specified",
        "required": false, "type": "string", "minLength": 1}, {"name": "west", "in":
        "query", "description": "west coordinate of spatial coverage. This parameter
        is required if *coverage_type* has been specified with a value of box", "required":
        false, "type": "string", "minLength": 1}, {"name": "include_obsolete", "in":
        "query", "description": "Include repleaced resources", "required": false,
        "type": "boolean", "default": false}], "responses": {"200": {"description":
        "", "schema": {"required": ["count", "results"], "type": "object", "properties":
        {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri",
        "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable":
        true}, "results": {"type": "array", "items": {"$ref": "#/definitions/ResourceListItem"}}}}}},
        "tags": ["hsapi"]}, "post": {"operationId": "hsapi_resource_create", "description":
        "Create a resource", "parameters": [{"name": "data", "in": "body", "required":
        true, "schema": {"$ref": "#/definitions/ResourceCreateRequestValidator"}}],
        "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/ResourceCreated"}}},
        "tags": ["hsapi"]}, "parameters": []}, "/hsapi/resource/accessRules/{id}/":
        {"put": {"operationId": "hsapi_resource_accessRules_update", "description":
        "Update access rules", "parameters": [], "responses": {"200": {"description":
        ""}}, "tags": ["hsapi"]}, "parameters": [{"name": "id", "in": "path", "required":
        true, "type": "string"}]}, "/hsapi/resource/content_types/": {"get": {"operationId":
        "hsapi_resource_content_types_list", "description": "List Content Types",
        "parameters": [], "responses": {"200": {"description": "", "schema": {"$[...]
