http_interactions:
- request:
    method: get
    uri: https://www.hydroshare.org/hsapi/resource/search?page=3
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
      allow: GET, HEAD, OPTIONS
      content-language: en
    body:
      encoding: UTF-8
      file: no
      string: '{"count":4879,"next":"https://www.hydroshare.org/hsapi/resource/search?page=4","previous":"https://www.hydroshare.org/hsapi/resource/search?page=2","results":[{"text":"
        \nd2d47cfe84be4bc9ba3352eec7ceb57e  Volunteer Snow Depth Reports - Czechia
        \n CompositeResource The attached .csv file contains snow depth reports received
        from volunteer observers from January 2014 until March 2015 from Czechia.
        The file has the following data fields:\nDATE: The date of the snow report\nTIME:
        The local time of the snow report in (UTC+1)\nLATITUDE: The latitude in WGS84\nLONGITUDE:
        The longitude in WGS84\nSITE: The name of the place where the snow depth was
        observed\nSNOW_DEPTH_CM: The reported snow depth in centimeters. If the value
        is 0.5, then a trace of snow (incomplete snow coverage) was reported.\n\nThe
        script used for generating the file is accessible on github:\nhttps://github.com/jirikadlec2/global-snow/blob/master/user_reports/snow.py\n
        \nJiri Kadlec    \n\njirikadlec2 Jiri Kadlec, Jiri \nsnow snow depth Czech
        Republic observation  \n \ntext/csv \n \n\n\nComposite Resource\n\n\n\n\n\n\n\n\n\n\n\n\n\n","author":"Kadlec,
        Jiri","abstract":"The attached .csv file contains snow depth reports received
        from volunteer observers from January 2014 until March 2015 from Czechia.
        The file has the following data fields:\nDATE: The date of the snow report\nTIME:
        The local time of the snow report in (UTC+1)\nLATITUDE: The latitude in WGS84\nLONGITUDE:
        The longitude in WGS84\nSITE: The name of the place where the snow depth was
        observed\nSNOW_DEPTH_CM: The reported snow depth in centimeters. If the value
        is 0.5, then a trace of snow (incomplete snow coverage) was reported.\n\nThe
        script used for generating the file is accessible on github:\nhttps://github.com/jirikadlec2/global-snow/blob/master/user_reports/snow.py\n","contributor":null,"subject":["snow","snow
        depth","Czech Republic","observation"],"availability":["public"],"created":"2015-07-21T16:36:54Z","modified":"2015-07-21T22:49:07Z","coverage_type":["box","period"],"east":15.725,"northlimit":51.0,"eastlimit":19.05,"southlimit":47.49,"westlimit":12.4,"start_date":"2013-01-01","end_date":"2015-04-01","resource_type":"Composite
        Resource","content_type":["Composite","Spreadsheet"]},{"text":" \nd390906d0ed8440b9e3df8c48075c454  Volcano
        Chimborazo - Ecuador Field Data \n CompositeResource The hydrological, hydrochemical,
        and meteorological data were collected at Volcano Chimborazo, Ecuador, on
        June 2015 and June 2016 field campaigns. The XRD results of the analysis of
        soil and rock samples collected within the watershed also can be found here.
        Do not hesitate to contact me should you have any questions. \nS[...]
[...]
