http_interactions:
- request:
    method: get
    uri: https://www.hydroshare.org/accounts/login/?next=/hsapi/userDetails/8409/
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: text/html; charset=utf-8
      content-language: en
    body:
      encoding: UTF-8
      file: no
      string: "<!doctype html>\n<html lang=\"en\">\n\n\n<head>\n\n<meta http-equiv=\"Content-type\"
        content=\"text/html; charset=utf-8\">\n<meta name=\"viewport\" content=\"width=device-width\">\n<meta
        name=\"keywords\" content=\"\">\n<meta name=\"description\" content=\"\">\n<title>Sign
        In | CUAHSI HydroShare</title>\n<link rel=\"shortcut icon\" href=\"/static/img/favicon.png\">\n\n\n<link
        rel=\"alternate\" type=\"application/rss+xml\" title=\"RSS\" href=\"/blog/feeds/rss/\">\n<link
        rel=\"alternate\" type=\"application/atom+xml\" title=\"Atom\" href=\"/blog/feeds/atom/\">\n\n\n<link
        rel=\"stylesheet\" type=\"text/css\" href=\"/static/css/hydroshare_fonts.css\">\n<link
        rel=\"stylesheet\" type=\"text/css\" href=\"//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css\">\n\n\n<link
        rel=\"stylesheet\" type=\"text/css\" href=\"/static/css/bootstrap.3.0.2.min.css\">\n<link
        rel=\"stylesheet\" type=\"text/css\" href=\"/static/css/elements.css\">\n<link
        rel='stylesheet' type='text/css' href=\"/static/css/jquery-ui/smoothness/jquery-ui.css\">\n<link
        rel=\"stylesheet\" type=\"text/css\" href=\"/static/css/hydroshare_core.css\">\n<link
        rel=\"stylesheet\" type=\"text/css\" href=\"/static/css/identifiers.css\">\n<link
        rel=\"stylesheet\" type=\"text/css\" href=\"/static/css/hydroshare_extends.css\">\n\n\n\n\n\n<script
        type=\"text/javascript\" src=\"/static/mezzanine/js/jquery-1.8.3.min.js\"></script>\n<script
        type=\"text/javascript\" src=\"/static/js/custom.js\"></script>\n<script type=\"text/javascript\"
        src=\"/static/js/vue-2.6.10-min.js\"></script>\n<script type=\"text/javascript\"
        src=\"/static/js/scrolltopcontrol.js\"></script>\n<script type=\"text/javascript\"
        src=\"/static/js/jqcsrf.js\"></script>\n<script type=\"text/javascript\" src=\"/static/js/jquery-ui.js\"></script>\n<script
        type=\"text/javascript\" src=\"/static/js/bootstrap.3.0.2.min.js\"></script>\n<script
        type=\"text/javascript\" src=\"/static/js/bootstrap-extras.js[...]
[...]
