http_interactions:
- request:
    method: get
    uri: https://www.hydroshare.org/hsapi/user/
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer <<oauth_key>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
      allow: GET, HEAD, OPTIONS
      content-language: en
    body:
      encoding: UTF-8
      file: no
      string: '{"username":"jsinghm","email":"justin@justinsingh.me","first_name":"Justin","id":8409,"last_name":"Singh-Mohudpur","organization":"University
        of California, Santa Barbara","state":"California","country":"US","user_type":"University
        Undergraduate Student"}'
  recorded_at: 2021-03-31 17:32:47 GMT
  recorded_with: vcr/0.6.0, webmockr/0.8.0
[...]
