http_interactions:
- request:
    method: get
    uri: https://www.hydroshare.org/hsapi/user/
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
      allow: GET, HEAD, OPTIONS
      content-language: en
    body:
      encoding: UTF-8
      file: no
      string: '{"title":"None","organization":"None","state":"None","country":"None","user_type":"None"}'
  recorded_at: 2021-03-31 15:22:12 GMT
  recorded_with: vcr/0.6.0, webmockr/0.8.0
[...]
