http_interactions:
- request:
    method: get
    uri: https://www.hydroshare.org/hsapi/userDetails/8409/
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer <<oauth_key>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
      allow: GET, OPTIONS
      content-language: en
    body:
      encoding: UTF-8
      file: no
      string: '{"name": "Singh-Mohudpur, Justin", "email": "justin@justinsingh.me",
        "url": "http://www.hydroshare.org/user/8409/", "phone": "", "address": "California,
        US", "organization": "University of California, Santa Barbara", "website":
        "https://justinsingh.me", "identifiers": {}}'
  recorded_at: 2021-03-31 15:22:14 GMT
  recorded_with: vcr/0.6.0, webmockr/0.8.0
[...]
